<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neerajweb.expandablelistviewtest" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- -->
    <!--FaceBook TimeLine  Module Setting-->
    <!--<application-->
        <!--android:name="com.neerajweb.expandablelistviewtest.CustomFaceBook.AppController"-->
        <!--android:icon="@drawable/user"-->
        <!--android:label="@string/defaultapp_name"-->
        <!--android:theme="@style/AppTheme" >-->
        <!--<activity-->
            <!--android:name="com.neerajweb.expandablelistviewtest.CustomFaceBook.myFaceBoookMainActivity"-->
            <!--android:label="@string/mywall">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    <!-- -->

    <!-- -->
    <!--Post and Comment Module Setting-->
    <application
        android:name=".Maintainance.GlobalClassMyApplicationAppController"
        android:icon="@drawable/user"
        android:label="@string/defaultapp_name"
        android:theme="@style/AppTheme" >
        android:supportsRtl="true"
        <activity
            android:name=".Expandable_Post_Comment_MainActivity"
            android:label="@string/postcomment_name"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- -->

        <!-- -->
        <!--Maintainance Module Setting-->
        <!--<activity-->
            <!--android:name=".MaintainanceMain"-->
            <!--android:label="@string/maintainanceapp_name"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:noHistory="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!-- -->

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
