<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neerajweb.expandablelistviewtest" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />


    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Permission: Allow application to write to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="com.neerajweb.expandablelistviewtest.permission.C2D_MESSAGE" android:protectionLevel="signature" />

    <!--<uses-permission android:name="com.neerajweb.gcmgreetingapp.permission.C2D_MESSAGE" />-->

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!--Profile Image Upload Module Setting-->
    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@drawable/user"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@style/AppTheme" >-->
        <!--<activity-->
            <!--android:name=".profile_imageselect"-->
            <!--android:label="@string/app_name"-->
            <!--android:screenOrientation="portrait" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ProfileImageUpload"-->
            <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->

    <application
        android:name=".Maintainance.ApartmentApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/user"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Card.ProfileMaster"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <!-- -->
    <!--Login,Register and Profile Update Module Setting-->
    <!--<application-->
        <!--android:name=".Maintainance.ApartmentApplicationController"-->
        <!--android:icon="@drawable/user"-->
        <!--android:label="@string/defaultapp_name"-->
        <!--android:theme="@style/AppTheme" >-->
        <!--android:supportsRtl="true"-->
        <!--android:allowBackup="true"-->
        <!--<activity-->
            <!--android:name="com.neerajweb.expandablelistviewtest.ProfileUpdate"-->
            <!--android:label="ProfileUpdate"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden"-->
            <!--android:noHistory="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <!--<activity-->
            <!--android:name=".ProfileImageSelect"-->
            <!--android:theme="@style/AppDialogTheme"-->
            <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:name=".ProfileImageUpload"-->
            <!--android:theme="@style/AppDialogTheme"-->
            <!--android:screenOrientation="portrait" >-->
        <!--</activity>-->


    <!-- -->
    <!--FaceBook TimeLine  Module Setting-->
    <!--<application-->
        <!--android:name="com.neerajweb.expandablelistviewtest.CustomFaceBook.AppController"-->
        <!--android:icon="@drawable/profileuser"-->
        <!--android:label="@string/defaultapp_name"-->
        <!--android:theme="@style/AppTheme" >-->
        <!--<activity-->
            <!--android:name="com.neerajweb.expandablelistviewtest.CustomFaceBook.myFaceBoookMainActivity"-->
            <!--android:label="@string/mywall">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
    <!-- -->

    <!-- -->
    <!--Post and Comment Module Setting-->
    <!--<application-->
        <!--android:name=".Maintainance.ApartmentApplicationController"-->
        <!--android:icon="@drawable/profileuser"-->
        <!--android:label="@string/defaultapp_name"-->
        <!--android:theme="@style/AppTheme" >-->
        <!--android:supportsRtl="true"-->
        <!--<activity-->
            <!--android:name=".Expandable_Post_Comment_MainActivity"-->
            <!--android:label="@string/postcomment_name"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:noHistory="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!-- -->

        <!-- -->
        <!--Maintainance Module Setting-->
        <!--<activity-->
            <!--android:name=".MaintainanceMain"-->
            <!--android:label="@string/maintainanceapp_name"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:noHistory="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!-- -->

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
